<!-- FOOTER -->
<section class="module-small bg-light">

    <div class="container">



        <div class="row m-t-40">

            <div class="col-sm-6">
                <h5 class="font-alt m-t-0 m-b-20">Connect</h5>
                Email: wanga503@outlook.com
                <br>
                Phone: +086 15618892632
            </div>

            <div class="col-sm-6">
                <h5 class="font-alt m-t-0 m-b-20">Useful links</h5>
                <ul class="list-unstyled">
                    <li><a href="/about">About</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a href="/work">Works</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>


        </div>

    </div>

</section>

<hr class="divider"><!-- DIVIDER -->

<footer class="module-small bg-light p-t-30 p-b-30">

    <div class="container">

        <div class="col-sm-12">
            <p class="copyright text-center m-b-0">© 2016 <a href="/">Alexa</a>, All Rights Reserved.</p>
        </div>

    </div>

</footer>
<!-- /FOOTER -->