<div id="navigation">
    <!--<div class="search">
        <i class="icon-search icon-white"></i>
        <form action="search-page.html" method="get">
            <input type="text" placeholder="Search here" />
        </form>
        <div class="dropdown">
            <a href="dashboard.html#" class='search-settings dropdown-toggle' data-toggle="dropdown"><i class="icon-cog icon-white"></i></a>
            <ul class="dropdown-menu">
                <li class='sort-by'>
                    Sort by <span class='filter'>Categories</span> <span class="order">A-Z</span>
                </li>
                <li class="heading">
                    Filter categories
                </li>
                <li class='filter active'>
                    Categories
                </li>
                <li class="filter">
                    Countries
                </li>
                <li class="filter">
                    Likes
                </li>
                <li class="heading">
                    Sorting order
                </li>
                <li class='order active'>
                    Ascending
                </li>
                <li class="order">
                    Descending
                </li>
            </ul>
        </div>
    </div>-->

    <ul class="mainNav" data-open-subnavs="multi">
        <li class='{{#if active.dashboard}}active{{/if}}'>
            <a href="/cms"><i class="icon-home icon-white"></i><span>Dashboard</span></a>
        </li>
        <li class='{{#if active.infoParent}}active{{/if}}'>
            <a href="#"><i class="icon-list icon-white"></i><span>游戏记录</span><span class="label">1</span></a>
            <ul class="subnav">
                <li class='{{#if active.allPlayer }}active{{/if}}'>
                    <a href="/cms/games">所有</a>
                </li>
                <li class='{{#unless active.allPlayer }}active{{/unless}}'>
                    <a href="/cms/games?player=y">完成</a>
                </li>
            </ul>
        </li>
        <!--<li class='{{#if active.workParent}}active{{/if}}'>
            <a href="#"><i class="icon-list icon-white"></i><span>作品管理</span><span class="label">2</span></a>
            <ul class="subnav">
                <li class='{{#if active.workView}}active{{/if}}'>
                    <a href="/cms/works">查看所有</a>
                </li>
                <li class='{{#if active.workAdd}}active{{/if}}'>
                    <a href="/cms/work/add">新增作品</a>
                </li>
            </ul>
        </li>-->
    </ul>
    <!--
    <div class="status button">
        <div class="status-top">
        <div class="left">
        Saving changes...
    </div>
    </div>
    <div class="status-bottom">
        <div class="progress">
        <div class="bar" style="width:60%">60%</div>
        </div>
        </div>
        </div>
    -->
</div>
