<div class="wrapper">

    <!-- NAVIGATION -->
    {{>nav}}
    <!-- /NAVIGATION -->

    <!-- HERO -->
    <section id="hero" class="module-hero module-parallax module-full-height bg-film" >

        <!-- HERO TEXT -->
        <div class="hero-caption">
            <div class="hero-text">
                <h1 class="mh-line-size-1 font-alt m-b-60">500 - Server Error</h1>
            </div>
        </div>
        <!-- /HERO TEXT -->

    </section>
    <!-- /HERO -->
    <!-- FOOTER -->
    <footer class="module-small bg-light p-t-30 p-b-30">

        <div class="container">

            <div class="col-sm-12">
                <p class="copyright text-center m-b-0">© 2016 <a href="/">Alexa</a>, All Rights Reserved.</p>
            </div>

        </div>

    </footer>
    <!-- /FOOTER -->
</div>

