{{> top}}
<div id="main">
    {{> navigation}}
    <div id="content">
        <div class="page-header">
            <div class="pull-left">
                <h4><i class="icon-home"></i> Dashboard</h4>
            </div>
            <div class="pull-right">
                <ul class="bread">
                    <li><a href="/cms">Home</a><span class="divider">/</span></li>
                    <li class='active'>Dashboard</li>
                </ul>
            </div>
        </div>

        <div class="container-fluid" id="content-area">
            <div class="row-fluid">
            </div>
        </div>
    </div>
</div>
{{> bottom}}